body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #971f1f;
}

.container {
    margin-top: -50px;
}

#boton {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-color: black;
    border-radius: 10px;
    font-weight: bold;
    
}

.resultados {
    margin-top: 20px;
}

img {
    width: 200px;
}

h2 {
    margin-top: 10px;
    color: white;
}

p {
    font-style: italic;
    color: white;
}

h1{
    font-family: 'Pokemon Solid', sans-serif;
    color: yellow;   
    font-size: 500%;   
    -webkit-text-stroke: 00.5px rgb(60, 60, 202); /* Ancho y color del borde */
}

label{
    font-size: larger;
    color: yellow;
}

#pokemonNombre{
    border-radius: 10px;
    width: 300px;
    height: 20px;
    text-align: center;
    color: black;
    background-color: white;
    font-weight: bold;
    
}

